::-ms-clear { display: none; }
*{margin: 0px;padding:0px}
html{margin: 0px;padding:0px}
body{font-family: "Pt serif",Arial,sans-serif;margin:0px; padding:0px;min-width: 1045px;}
#header{float: left;height: 135px;width: 100%;background: #ffffff;}
.center{margin: 0 auto;width: 1000px;border: 0px solid#FF0000;}
.logo{margin:17px auto 0 auto;width: 480px;}
.logo img{float:left;margin: 0 13px -10px 0;height: 55px;}
.drop{float:left;font-size:40px;font-style: italic;color:#8e8e8e;padding: 0 20px 0 10px;}
.phone{font-size:17px;font-style: italic;color:#414141;width: 150px;float: left;margin: 0px 0 0 0;}

.slogan {
    float: left;
    color: #3a3a3a;
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
    margin:5px 0 0 19%;
    padding-left:10px;
    padding-right:10px;
    width: 584px;
    /*padding:0 10px 0  10px;*/
    border-radius: 5px;
    text-align: center;

}
.arrow_box { position: relative; background: #ffe400; }
.arrow_box:after {
    bottom: 100%; left: 44%;
    border: solid transparent;
    content: " ";
    height: 0; width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 228, 0, 0);
    border-bottom-color: #ffe400;
    border-width: 10px; margin-left: -12px;
}

#main_body{float:left;height:353px;width: 100%;background: url(../images/main_body.gif) top center;}
.main_title{font-size: 60px;font-weight: bold;color: #ffffff;margin: 40px auto;text-align: center;}
.main_ul{list-style: none;width: 962px;margin: 0 auto;padding: 0px;}
.main_ul li{float: left;}
.main_input{
   float: left;
   color:#645e5e;
   width: 100%;
   height: 60px;
   border:0px;
   border-left:1px solid#363434;
   margin: 0 2px 0 0;
   font-size: 16px;
   font-weight: normal;
   /*padding:0 10px 0 20px;*/
    padding: 0;
    text-align: center;
 }

.main-input-error {
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.9) inset;
}
.main_button {
    float: right;
    background-color: #ffe400;
    border: 0 solid #ffffff;
    color: #645e5e;
    cursor: pointer;
    display: inline-block;
    font-size: 21px;
    font-weight: normal;
    height: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    width: 182px;
}
.main_button:hover {
    color: #000000;
    text-shadow: 2px 2px #e3cb02;
    /*background: #ffec49;*/
}
.main_button:active {
    margin-top: 1px;
    position: relative;
}


#static{float: left;height:342px;width: 100%;background: #ffffff;text-align: center;}
#static h4{font-size: 50px;font-weight: normal;color: #393939;margin: 20px auto;}
.static_count{margin: 0 auto;width: 560px;text-align: left}
#static label{font-size: 110px;font-weight: bold;color: #4c4e52;}
.static_lenta{color:#393939;font-size: 24px;font-weight: normal;float: right;padding:0px 20px 0px 10px;background: #ffe400;
float: right;
    margin: -85px 0 0 0;
    position: relative;
    z-index: 2;
    border-radius:5px ;
}

#chat{
    float: left;
    height: 307px;
    width: 100%;
    background: #363434;
}

/************************/
.chat_widget{
    float: left;
    height: 307px;
    width: 742px;
    margin: 0 0 0 10%;
}
.chat_widget_title{
    float: left;
    color: #ffffff;
    font-size: 34px;
    font-weight: normal;
    padding: 0px;
    margin: 20px 0 0 0;
}
.chat_widget_status{
    float: left;
    color: #ffffff;
    font-size: 23px;
    font-weight: normal;
    margin:30px 0 0 30px;
}

.chat_widget_status .color {
    border-radius: 50px;
    float: left;
    height: 15px;
    margin-right: 15px;
    position: relative;
    top: 8px;
    width: 15px;
}
.chat_widget_status .green {
    background: none repeat scroll 0 0 #96cb4c;
    border: 1px solid #8bc43d;
    box-shadow: 0 0 7px 2px #b3e074, 0 2px 1px -1px rgba(255, 255, 255, 0.8) inset;
}
.chat_widget_status .yellow {
    background: none repeat scroll 0 0 #ffe400;
    border: 1px solid #e0cc7e;
    box-shadow: 0 0 7px 2px #f0d775, 0 2px 1px -1px rgba(255, 255, 255, 0.8) inset;
}
.chat_widget_status .red {
    background: none repeat scroll 0 0 #f56b65;
    border: 1px solid #fc7d77;
    box-shadow: 0 0 7px 2px #ff9b96, 0 2px 1px -1px rgba(255, 255, 255, 0.8) inset;
}

.chat_widget_tablo{
    float: left;
    height: 133px;
    width: 505px;
    background: #ffffff;
    margin: 20px 0 0 0;
    padding: 10px;
}
.chat_widget_line{
    color: #0d0d0d;
    font-size: 14px;
    font-weight: normal;
    margin:0;
}
.chat_widget_ul{
    color: #0d0d0d;
    font-size: 14px;
    font-weight: normal;
    list-style: none;
    margin:10px 0 0 0;
    padding: 0;
}
.chat_widget_time{
    font-size: 10px;
}
.chat_widget_form{
    float: left;
    height: 40px;
    width: 525px;
    margin: 1px 0 0 0;
    background: #ffffff;
}
.chat_widget_input{
    float: left;
    color:#645e5e;
    width: 100%;
    height: 40px;
    border:0px;
    margin: 0 0 0 0;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    padding: 0;
    text-align: center;
    width: 348px;
}
.chat_widget_button{
    float: right;
    background-color: #ffe400;
    border: 0 solid #ffffff;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    width: 177px;
}
.chat_widget_button:hover {
    color: #645e5e;
    text-shadow: 2px 2px #e3cb02;
    /*background: #ffec49;*/
}
.chat_widget_button:active {
    margin-top: 1px;
    position: relative;
}
.chat_widget_manger{
    float: right;
    height: 180px;
    width: 135px;
    margin: -111px 0 0 0;
}
/************************/
#brend{
    float: left;
    height: 675px;
    width: 100%;
    background: #ffffff;
    text-align: center;
}
#brend h4{font-size: 50px;font-weight: normal;color: #393939;margin: 50px auto;text-align: center}

#client{
    float: left;
    height: 380px;
    width: 100%;
    background: #ffffff;
    text-align: center;
}
#client h4{font-size: 50px;font-weight: normal;color: #393939;margin: 50px auto;text-align: center}

#order{
    float: left;
    width: 100%;
    height: 307px;
    background: #363434;
}
#order h3{font-size: 34px;font-weight: normal;color: #ffffff;margin: 60px auto 10px auto;text-align: center}
#order h2{font-size: 82px;font-weight: normal;color: #ffffff;margin: 30px auto 10px auto;text-align: center}

#footer{
    float: left;
    width: 100%;
    height:100px;
    border-top:0px solid #363434;
}
#footer label{
    float: left;
    color: #4c4e52;
    font-size: 18px;
    font-weight: normal;
    margin: 50px 0 0 5%;
}
#how{float: left;height: 338px;width: 100%;background: #363434;text-align: center}
#how h2{color: #ffffff;font-size:50px;font-weight: bold;margin: 40px auto;}
#how h4{color: #ffffff;font-size:22px;font-weight: bold;margin:20px 420px;float: left;}
.how_ul{float:left;list-style: none;margin:0 0 0 100px;padding: 0px;width: 912px;}
.how_ul li{float: left;text-align: left}
.round{float:left;height: 68px;width: 68px;border-radius:68px;background: #ffffff; color: #363434;font-size: 41px;text-align: center;line-height:68px; }
.how_label {float:left;color:#ffffff;font-size: 21px;text-align: left;margin: 5px 0 0 20px;}
.how_span {float:left;color:#ffffff;font-size: 14px;text-align: left;margin: 0px 0 0 20px;}
.line{height: 30px;width: 648px;border: 1px solid #ffffff;border-top:0px;float:left;margin:0 0 0 133px; }
.clear{clear: both;}
.border{width: 318px;height: 12px;border-right:1px solid #ffffff; float:left;margin:0 0 0 133px;}

#efir{float: left;width: 100%;height: 290px;margin: -74px 0 0 0;text-align: center}
#efir h2{margin: 0 auto;font-size:21px;font-weight: bold;color: #ffffff}
.efir-block{position:relative;margin: 10px auto;width: 952px; height:237px;border: 10px solid #070605;border-radius: 5px;background: #ffffff;}
.efir_ul_head{float:left;list-style: none;width: 880px;margin: 22px auto 14px 24px;}
.efir_ul_head li{float: left;font-size: 12px;color: #101010;text-align: left;}
.width105{width: 105px;}
.width480{width: 480px;}
.width153{width: 153px;}
.width139{width: 139px;}
.efir-line{float:left;width: 919px; margin:0 0 14px 16px;border-bottom:1px solid #b6b6b6 }

.efir_ul_body{float:left;list-style: none;width: 880px;margin: 5px auto 10px 24px;}
.efir_ul_body li{float: left;font-size: 12px;color: #101010;text-align: left;}
.efir_ul_body li span{font-size: 19px;font-weight:bold;color: #e23500;float: right;}
.efir_ul_body .width153{text-align: right;}

.overflow{width: 100%;height: 160px;overflow: hidden;}
#efir_dinamic{float: left;width: 100%;list-style: none;}
#efir_dinamic li{height: 25px;}
.efir_img{float: left;width:38px; display: none}
.efir_img img{border: 1px solid #cecece}
.efir_desc{float: left;width: 450px;text-align: left;margin: 0 0 0 0px;}
.efir_desc label{float:left;font-size: 12px;color: #101010;text-decoration: underline;width: 450px;}
.efir_desc div{float:left;font-size: 9px !important;color: #101010;width: 450px;}


.modal{
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
    box-shadow: 0 0 200px 0 rgba(50, 50, 50, 1);
    display: none;
    height: 150px;
    left: 50% !important;
    margin-left: -345px !important;
    margin-top: -200px !important;
    position: fixed !important;
    top: 50% !important;
    width: 690px;
    z-index: 101;
    text-align: center;
}

.modal a.close {
    color: #565656;
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin: 15px 22px 0 0;
    text-decoration: underline;
}
.modal a.close:hover{
    text-decoration: none;
}

.modal h1 {
    color: #393939;
    font-size: 27px;
    line-height: 40px;
    width: 100%;
}
.modal h3 {
    color: #393939;
    font-size: 19px;
    line-height: 30px;
    width: 100%;
}
.fixed{
    top:0px;
    width: 100%;
    height:108px;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 100;
}

.fixed .main_ul{
    margin-top:25px;
}
.removeAuto .center{
    margin:0px !important;
}
