::-ms-clear {
  display: none;
}
* {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Pt serif',Arial,sans-serif;

  min-width: 1045px;
  margin: 0;
  padding: 0;
}
#header {
  float: left;

  width: 100%;
  height: 135px;

  background: #fff;
}
.center {
  width: 1000px;
  margin: 0 auto;

  border: 0 solid#f00;
}
.logo {
  width: 480px;
  margin: 17px auto 0 auto;
}
.logo img {
  float: left;

  height: 55px;
  margin: 0 13px -10px 0;
}
.drop {
  font-size: 40px;
  font-style: italic;

  float: left;

  padding: 0 20px 0 10px;

  color: #8e8e8e;
}
.phone {
  font-size: 17px;
  font-style: italic;

  float: left;

  width: 150px;
  margin: 0 0 0 0;

  color: #414141;
}

.slogan {
  font-size: 25px;
  font-weight: normal;
  font-style: italic;

  float: left;

  width: 584px;
  margin: 5px 0 0 19%;
  padding-right: 10px;
  padding-left: 10px;

  text-align: center;

  color: #3a3a3a;
  /*padding:0 10px 0  10px;*/
  border-radius: 5px;
}
.arrow_box {
  position: relative;

  background: #ffe400;
}
.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 44%;

  width: 0;
  height: 0;
  margin-left: -12px;

  content: ' ';
  pointer-events: none;

  border: solid transparent;
  border-width: 10px;
  border-color: rgba(255, 228, 0, 0);
  border-bottom-color: #ffe400;
}

#main_body {
  float: left;

  width: 100%;
  height: 353px;

  background: url(../images/main_body.jpg) top center;
}
.main_title {
  font-size: 60px;
  font-weight: bold;

  margin: 40px auto;

  text-align: center;

  color: #fff;
}
.main_ul {
  width: 962px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}
.main_ul li {
  float: left;
}
.main_input {
  font-size: 16px;
  font-weight: normal;

  float: left;

  width: 100%;
  height: 60px;
  margin: 0 2px 0 0;
  /*padding:0 10px 0 20px;*/
  padding: 0;

  text-align: center;

  color: #645e5e;
  border: 0;
  border-left: 1px solid#363434;
}

.main-input-error {
  box-shadow: 0 0 10px 0 rgba(255, 0, 0, .9) inset;
}
.main_button {
  font-size: 21px;
  font-weight: normal;
  line-height: 60px;

  display: inline-block;
  float: right;

  width: 182px;
  height: 60px;
  margin: 0;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-indent: 0;

  color: #645e5e;
  border: 0 solid #fff;
  background-color: #ffe400;
  text-shadow: none;
}
.main_button:hover {
  color: #000;
  text-shadow: 2px 2px #e3cb02;
  /*background: #ffec49;*/
}
.main_button:active {
  position: relative;

  margin-top: 1px;
}


#static {
  float: left;

  width: 100%;
  height: 342px;

  text-align: center;

  background: #fff;
}
#static h4 {
  font-size: 50px;
  font-weight: normal;

  margin: 20px auto;

  color: #393939;
}
.static_count {
  width: 560px;
  margin: 0 auto;

  text-align: left;
}
#static label {
  font-size: 110px;
  font-weight: bold;

  color: #4c4e52;
}
.static_lenta {
  font-size: 24px;
  font-weight: normal;

  position: relative;
  z-index: 2;

  float: right;
  float: right;

  margin: -85px 0 0 0;
  padding: 0 20px 0 10px;

  color: #393939;
  border-radius: 5px ;
  background: #ffe400;
}

#chat {
  float: left;

  width: 100%;
  height: 307px;

  background: #363434;
}

/************************/
.chat_widget {
  float: left;

  width: 742px;
  height: 307px;
  margin: 0 0 0 10%;
}
.chat_widget_title {
  font-size: 34px;
  font-weight: normal;

  float: left;

  margin: 20px 0 0 0;
  padding: 0;

  color: #fff;
}
.chat_widget_status {
  font-size: 23px;
  font-weight: normal;

  float: left;

  margin: 30px 0 0 30px;

  color: #fff;
}

.chat_widget_status .color {
  position: relative;
  top: 8px;

  float: left;

  width: 15px;
  height: 15px;
  margin-right: 15px;

  border-radius: 50px;
}
.chat_widget_status .green {
  border: 1px solid #8bc43d;
  background: none repeat scroll 0 0 #96cb4c;
  box-shadow: 0 0 7px 2px #b3e074, 0 2px 1px -1px rgba(255, 255, 255, .8) inset;
}
.chat_widget_status .yellow {
  border: 1px solid #e0cc7e;
  background: none repeat scroll 0 0 #ffe400;
  box-shadow: 0 0 7px 2px #f0d775, 0 2px 1px -1px rgba(255, 255, 255, .8) inset;
}
.chat_widget_status .red {
  border: 1px solid #fc7d77;
  background: none repeat scroll 0 0 #f56b65;
  box-shadow: 0 0 7px 2px #ff9b96, 0 2px 1px -1px rgba(255, 255, 255, .8) inset;
}

.chat_widget_tablo {
  float: left;

  width: 505px;
  height: 133px;
  margin: 20px 0 0 0;
  padding: 10px;

  background: #fff;
}
.chat_widget_line {
  font-size: 14px;
  font-weight: normal;

  margin: 0;

  color: #0d0d0d;
}
.chat_widget_ul {
  font-size: 14px;
  font-weight: normal;

  margin: 10px 0 0 0;
  padding: 0;

  list-style: none;

  color: #0d0d0d;
}
.chat_widget_time {
  font-size: 10px;
}
.chat_widget_form {
  float: left;

  width: 525px;
  height: 40px;
  margin: 1px 0 0 0;

  background: #fff;
}
.chat_widget_input {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;

  float: left;

  width: 100%;
  width: 348px;
  height: 40px;
  margin: 0 0 0 0;
  padding: 0;

  text-align: center;

  color: #645e5e;
  border: 0;
}
.chat_widget_button {
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;

  display: inline-block;
  float: right;

  width: 177px;
  height: 40px;
  margin: 0;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-indent: 0;

  color: #000;
  border: 0 solid #fff;
  background-color: #ffe400;
  text-shadow: none;
}
.chat_widget_button:hover {
  color: #645e5e;
  text-shadow: 2px 2px #e3cb02;
  /*background: #ffec49;*/
}
.chat_widget_button:active {
  position: relative;

  margin-top: 1px;
}
.chat_widget_manger {
  float: right;

  width: 135px;
  height: 180px;
  margin: -111px 0 0 0;
}
/************************/
#brend {
  float: left;

  width: 100%;
  height: 452px;

  text-align: center;

  background: #fff;
}
#brend h4 {
  font-size: 50px;
  font-weight: normal;

  margin: 50px auto;

  text-align: center;

  color: #393939;
}

#client {
  float: left;

  width: 100%;
  height: 380px;

  text-align: center;

  background: #fff;
}
#client h4 {
  font-size: 50px;
  font-weight: normal;

  margin: 50px auto;

  text-align: center;

  color: #393939;
}

#order {
  float: left;

  width: 100%;
  height: 307px;

  background: #363434;
}
#order h3 {
  font-size: 34px;
  font-weight: normal;

  margin: 60px auto 10px auto;

  text-align: center;

  color: #fff;
}
#order h2 {
  font-size: 82px;
  font-weight: normal;

  margin: 30px auto 10px auto;

  text-align: center;

  color: #fff;
}

#footer {
  float: left;

  width: 100%;
  height: 100px;

  border-top: 0 solid #363434;
}
#footer label {
  font-size: 18px;
  font-weight: normal;

  float: left;

  margin: 50px 0 0 5%;

  color: #4c4e52;
}
#how {
  float: left;

  width: 100%;
  height: 338px;

  text-align: center;

  background: #363434;
}
#how h2 {
  font-size: 50px;
  font-weight: bold;

  margin: 40px auto;

  color: #fff;
}
#how h4 {
  font-size: 22px;
  font-weight: bold;

  float: left;

  margin: 20px 420px;

  color: #fff;
}
.how_ul {
  float: left;

  width: 912px;
  margin: 0 0 0 100px;
  padding: 0;

  list-style: none;
}
.how_ul li {
  float: left;

  text-align: left;
}
.round {
  font-size: 41px;
  line-height: 68px;

  float: left;

  width: 68px;
  height: 68px;

  text-align: center;

  color: #363434;
  border-radius: 68px;
  background: #fff;
}
.how_label {
  font-size: 21px;

  float: left;

  margin: 5px 0 0 20px;

  text-align: left;

  color: #fff;
}
.how_span {
  font-size: 14px;

  float: left;

  margin: 0 0 0 20px;

  text-align: left;

  color: #fff;
}
.line {
  float: left;

  width: 648px;
  height: 30px;
  margin: 0 0 0 133px;

  border: 1px solid #fff;
  border-top: 0;
}
.clear {
  clear: both;
}
.border {
  float: left;

  width: 318px;
  height: 12px;
  margin: 0 0 0 133px;

  border-right: 1px solid #fff;
}

#efir {
  float: left;

  width: 100%;
  height: 290px;
  margin: -74px 0 0 0;

  text-align: center;
}
#efir h2 {
  font-size: 21px;
  font-weight: bold;

  margin: 0 auto;

  color: #fff;
}
.efir-block {
  position: relative;

  width: 952px;
  height: 237px;
  margin: 10px auto;

  border: 10px solid #070605;
  border-radius: 5px;
  background: #fff;
}
.efir_ul_head {
  float: left;

  width: 880px;
  margin: 22px auto 14px 24px;

  list-style: none;
}
.efir_ul_head li {
  font-size: 12px;

  float: left;

  text-align: left;

  color: #101010;
}
.width105 {
  width: 105px;
}
.width480 {
  width: 480px;
}
.width153 {
  width: 153px;
}
.width139 {
  width: 139px;
}
.efir-line {
  float: left;

  width: 919px;
  margin: 0 0 14px 16px;

  border-bottom: 1px solid #b6b6b6;
}

.efir_ul_body {
  float: left;

  width: 880px;
  margin: 5px auto 10px 24px;

  list-style: none;
}
.efir_ul_body li {
  font-size: 12px;

  float: left;

  text-align: left;

  color: #101010;
}
.efir_ul_body li span {
  font-size: 19px;
  font-weight: bold;

  float: right;

  color: #e23500;
}
.efir_ul_body .width153 {
  text-align: right;
}

.overflow {
  overflow: hidden;

  width: 100%;
  height: 160px;
}
#efir_dinamic {
  float: left;

  width: 100%;

  list-style: none;
}
#efir_dinamic li {
  height: 25px;
}
.efir_img {
  display: none;
  float: left;

  width: 38px;
}
.efir_img img {
  border: 1px solid #cecece;
}
.efir_desc {
  float: left;

  width: 450px;
  margin: 0 0 0 0;

  text-align: left;
}
.efir_desc label {
  font-size: 12px;

  float: left;

  width: 450px;

  text-decoration: underline;

  color: #101010;
}
.efir_desc div {
  font-size: 9px !important;

  float: left;

  width: 450px;

  color: #101010;
}


.modal {
  position: fixed !important;
  z-index: 101;
  top: 50% !important;
  left: 50% !important;

  display: none;

  width: 690px;
  height: 150px;
  margin-top: -200px !important;
  margin-left: -345px !important;

  text-align: center;

  border: 1px solid #b8b8b8;
  border-radius: 10px;
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 0 200px 0 rgba(50, 50, 50, 1);
}

.modal a.close {
  font-size: 12px;
  font-weight: normal;

  float: right;

  margin: 15px 22px 0 0;

  cursor: pointer;
  text-decoration: underline;

  color: #565656;
}
.modal a.close:hover {
  text-decoration: none;
}

.modal h1 {
  font-size: 27px;
  line-height: 40px;

  width: 100%;

  color: #393939;
}
.modal h3 {
  font-size: 19px;
  line-height: 30px;

  width: 100%;

  color: #393939;
}
.fixed {
  position: fixed;
  z-index: 100;
  top: 0;

  width: 100%;
  height: 108px;

  background-color: rgba(0,0,0,.7);
}

.fixed .main_ul {
  margin-top: 25px;
}
.removeAuto .center {
  margin: 0 !important;
}
